body {
    background-color: #030928;
    font-family: 'Times New Roman', Times, serif;

}

.game {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    color: #27718d;
    text-align: center;
    font-size: 5em;
}

img {
    width: 250px;
    margin-bottom: 5em;
}


body button {
    font-size: 30px;
    background-color: #4d3e86;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    transition: all 1s ease-in-out;
    outline: none;
}

button:hover {
    background-color: #3d2e78;
    color: #fff;
    transform: scale(1.1);
}

.game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}